
@{
    ViewBag.Title = "title";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <h2>Error</h2>
    <p>A system error has been detected. A notification has been sent to the development team.</p>
</head>
<body>
    <div> 
    </div>
</body>
</html>
