@model CEby_Website.ClassModel[]

@{
    Layout = null;
}

@if (Model.Length > 0)
{
    <table>
        @foreach (var classId in Model)
        {
        <tr>
            <td>@classId.ClassId</td>
            <td>@classId.ClassName</td>
            <td>@classId.ClassDescription</td>
            <td>@classId.ClassPrice</td>

        </tr>
        }
    </table>
}
else
{
    <h2>No Classes found.</h2>
}
