@model CEby_Website.Models.EnrollClassModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EnrollAClass</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassId)
            </th>
        </tr>
    </table>
</body>
</html>
