@model CEby_Website.EnrollClassModel

@{
    ViewBag.Title = "EnrollInClass";
}

<h2>Enroll In Class</h2>

@using (Html.BeginForm())
{
    @Html.DropDownListFor(t => t.ClassId, new SelectList(Model.ClassList, "ClassId", "ClassName", Model.ClassList.First().ClassId))

    <input type="submit" value="Add Class" />
}